@tailwind base;
@tailwind components;
@tailwind utilities;

/*-------------------*/
/*       RESET       */
/*-------------------*/

/*Set up the body*/
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  line-height: 1.5;
}

/* Box sizing */
*,
*::after,
*::before{
  box-sizing: border-box;
}


/* Reset Margin */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture{
  margin: 0;
}



/* To make images easier to work with */
img,
picture{
  max-width: 100%;
  display: block;
}

/* To make form elements easier to work with */
input,
button,
textarea,
select{
  font: inherit;
}

button{
  border: none;
  background-color: transparent;
}
/* remove animations for people who turned them off */
@media (prefers-reduced-motion: reduce) {  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/*-------------------------------------------------*/
/* -------------- UTILITY CLASSES ---------------- */
/*-------------------------------------------------*/

.h-95{
  height: 95%;
}


/*-------------------------------------------------*/
/* -------------- SPECIFIC CLASSES ---------------- */
/*-------------------------------------------------*/

.sidebarBg{
  background-image: url("./images/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.sidebarBg-mov{
  background-image: url("./images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.left-1{
  left: 1rem;
}

@media screen and (min-width: 670px) {
  .sidebarBg-mov{
    height: 91%;
    background-image: url("./images/bg-sidebar-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100%;
  }
}